Repository tbowman01/PhotonDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dockerfile-validation, build-script-validation, container-security-check

.pre-commit-config.yaml:

# Pre-commit hooks for PhotonDrift
# Ensures code quality, security, and build validation before commits

repos:
  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        
      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]
        
      - id: cargo-test
        name: Cargo Test
        entry: cargo test
        language: system
        types: [rust]
        pass_filenames: false
        
      - id: dockerfile-validation
        name: Dockerfile Validation
        entry: scripts/validate-dockerfile.sh
        language: script
        files: ^Dockerfile.*$
        
      - id: build-script-validation
        name: Build Script Validation
        entry: scripts/validate-build-scripts.sh
        language: script
        files: ^(scripts/.*\.sh|\.github/workflows/.*\.yml)$
        
      - id: container-security-check
        name: Container Security Check
        entry: scripts/security-check.sh
        language: script
        files: ^(Dockerfile.*|\.github/workflows/container.*\.yml)$
        stages: [pre-push]

  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/.*\.md$
      - id: end-of-file-fixer
        exclude: ^docs/.*\.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: mixed-line-ending
        args: [--fix=lf]

  # GitHub Actions validation
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint
        name: GitHub Actions Lint

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        name: Hadolint Dockerfile Linter
        args: [--ignore, DL3008, --ignore, DL3009]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect Secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^(\.secrets\.baseline|poetry\.lock|Cargo\.lock)$

  # Documentation validation
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        name: Markdown Format
        additional_dependencies:
          - mdformat-gfm
          - mdformat-black
        args: [--wrap, "80"]
        exclude: ^docs/BUILD_SIMPLIFICATION_SUMMARY\.md$

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false

🧠 Multi-Agent Journey Reconstruction System: Complete PhotonDrift Roadmap (#99)
  docs/journey.md
Due: none

feat: GitHub PR Manager - Automated Description Enhancement System
  .claude/settings.local.json
  .github/PR_MANAGER_README.md
  .github/pr-templates/enhanced-pr-template.md
  .github/workflows/pr-manager.yml
  Cargo.toml
  docs/PHASE_2.5_DEPENDENCY_UPDATE_FINAL.md
Due: build-script-validation

feat: GitHub PR Manager - Automated Description Enhancement System (#101)
  .claude/settings.local.json
  .github/PR_MANAGER_README.md
  .github/pr-templates/enhanced-pr-template.md
  .github/workflows/pr-manager.yml
  Cargo.toml
  docs/PHASE_2.5_DEPENDENCY_UPDATE_FINAL.md
Due: build-script-validation

feat: Comprehensive semantic versioning automation system
  .github/workflows/formal-release.yml
  .github/workflows/semantic-versioning.yml
  docs/VERSIONING_STRATEGY.md
  plans/journey_roadmap.md
  scripts/semantic-version.sh
Due: build-script-validation

feat: Comprehensive semantic versioning automation system (#102)
  .github/workflows/formal-release.yml
  .github/workflows/semantic-versioning.yml
  docs/VERSIONING_STRATEGY.md
  plans/journey_roadmap.md
  scripts/semantic-version.sh
Due: build-script-validation

fix: Add explicit Docker binary verification tests for Issue #87
  .github/workflows/container-build.yml
Due: build-script-validation, container-security-check

fix: Add explicit Docker binary verification tests for Issue #87 (#104)
  .github/workflows/container-build.yml
Due: build-script-validation, container-security-check

docs\!: Comprehensive documentation reorganization and improvements
  PR_DESCRIPTION.md
  README.md
  docs/README.md
  docs/architecture/ARCHITECTURE_ENHANCEMENTS.md
  docs/architecture/REQUIREMENTS_SUMMARY.md
  docs/architecture/adr/0001-use-rust-for-cli.md
  docs/architecture/adr/0003-containerization-deployment-strategy.md
  docs/deployment/DOCKER_BUILD_GUIDE.md
  docs/deployment/VERSIONING_STRATEGY.md
  docs/deployment/container-versioning-diagram.md
  docs/deployment/container-versioning-implementation.md
  docs/deployment/container-versioning-quickref.md
  docs/deployment/container-versioning-strategy.md
  docs/development/DEVELOPMENT.md
  docs/development/DEVELOPMENT_HOOKS.md
  docs/development/GITHUB_LABELS.md
  docs/development/GITHUB_MANAGEMENT_SUMMARY.md
  docs/development/ISSUE_MANAGEMENT.md
  docs/development/ISSUE_TRIAGE_GUIDE.md
  docs/getting-started/CLI.md
  docs/getting-started/CONFIG.md
  docs/getting-started/QUICK_START.md
  docs/getting-started/USER_GUIDE.md
  docs/ml-features/ML_SECURITY_GUIDE.md
  docs/ml-features/NEURAL_TRAINING.md
  docs/ml-features/PERFORMANCE_ANALYSIS.md
  docs/phase-planning/AUTOMATION_COMPREHENSIVE_GUIDE.md
  docs/phase-planning/BUILD_SIMPLIFICATION_SUMMARY.md
  docs/phase-planning/DEPENDENCY_ANALYSIS_REPORT.md
  docs/phase-planning/PHASE_2.5_DEPENDENCY_AUTOMATION.md
  docs/phase-planning/PHASE_2.5_DEPENDENCY_UPDATE_FINAL.md
  docs/phase-planning/PHASE_2.5_IMPLEMENTATION_SUMMARY.md
  docs/phase-planning/PHASE_3_ROADMAP.md
  docs/phase-planning/PHASE_3_STRATEGIC_PLAN.md
  docs/phase-planning/REPOSITORY_ANALYSIS_AND_ROADMAP.md
  docs/phase-planning/TEMPORAL_ANALYSIS.md
  docs/phase-planning/WASMTIME_V35_UPDATE_CHECKLIST.md
  docs/phase-planning/WASM_FILE_IO.md
Due: none

fix: Move ADR directory back to docs/adr
  docs/README.md
  docs/adr/0001-use-rust-for-cli.md
  docs/adr/0003-containerization-deployment-strategy.md
Due: none

Update docs-deploy.yml
  .github/workflows/docs-deploy.yml
Due: build-script-validation

updates to dockerfile and add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/bootstrap.sh
  .devcontainer/devcontainer.json
  .devcontainer/mycert.crt
  Dockerfile
  Dockerfile.optimized
  assets/zscaler.crt
Due: dockerfile-validation, container-security-check

feat: Complete LSP ML integration and comprehensive PRD with Gherkin specs
  docs/requirements/PRODUCT_REQUIREMENTS_DOCUMENT.md
  docs/requirements/README.md
  docs/requirements/REQUIREMENTS_TRACEABILITY_MATRIX.md
  docs/requirements/features/cli_commands.feature
  docs/requirements/features/ide_integration.feature
  docs/requirements/features/ml_detection.feature
  src/lsp/diagnostics.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Update Makefile with working documentation build commands and resolve Cargo version compatibility
  Makefile
  docs-site/docs/adr/index.md
  docs/adr/index.md
Due: none

fix: Update Makefile with working documentation build commands and resolve Cargo compatibility (#114)
  Makefile
  docs-site/docs/adr/index.md
  docs/adr/index.md
Due: none

fix: Update GitHub Actions workflow dependencies and resolve CLI build issues
  .github/workflows/docs-deploy.yml
  scripts/cli-docs-generator.js
Due: build-script-validation

feat: Update Docker versioning to 0.3.0-alpha with GitHub run ID incremental versioning
  .github/workflows/container-build.yml
  Cargo.toml
  Dockerfile
  Dockerfile.optimized
  dashboard/backend/Dockerfile
  docs-site/package.json
  helm/photondrift/Chart.yaml
  scripts/semantic-version.sh
Due: dockerfile-validation, build-script-validation, container-security-check

feat: Update Docker versioning to 0.3.0-alpha with GitHub run ID incremental versioning (#116)
  .github/workflows/container-build.yml
  .github/workflows/docs-deploy.yml
  Cargo.toml
  Dockerfile
  Dockerfile.optimized
  dashboard/backend/Dockerfile
  docs-site/package.json
  helm/photondrift/Chart.yaml
  scripts/cli-docs-generator.js
  scripts/semantic-version.sh
Due: dockerfile-validation, build-script-validation, container-security-check

feat: Complete Priority 1 & 2 execution - security fixes and developer experience
  Makefile
  docs-site/DEPENDENCY_UPDATE_SUMMARY.md
  docs-site/package-lock.json
  docs-site/package.json
  package-lock.json
  src/ml/models.rs
  src/ml/models/core.rs
  src/ml/models/ensemble.rs
  src/ml/models/factory.rs
  src/ml/models/isolation_forest.rs
  src/ml/models/mod.rs
  src/ml/models/statistical.rs
  src/ml/models/svm.rs
  src/ml/models/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Resolve critical Rust dependency compatibility (Priority 3)
  Cargo.toml
  RUST_UPGRADE_ISSUE.md
  src/ml/models.rs
  src/ml/models/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: Create comprehensive Rust upgrade and compilation fix plans
  COMPILATION_ERRORS_ISSUE.md
  RUST_WASMTIME_UPGRADE_PLAN.md
  scripts/rust-upgrade-validator.sh
Due: build-script-validation

chore: Update changelog for v0.3.0-beta release with Priorities 1-3 complete
  CHANGELOG.md
Due: none

feat: Add Code of Conduct/Security Policy planning & intelligent issue triage
  .github/workflows/issue-triage.yml
  CODE_CONDUCT_SECURITY_ISSUE.md
  claude-issue-triage-docs.md
  scripts/intelligent-triage.js
  src/ml/detector.rs
  src/ml/models/factory.rs
  src/ml/training.rs
Due: cargo-fmt, cargo-clippy, cargo-test, build-script-validation

critical: Document adrscan container binary silent failure issue
  CONTAINER_BINARY_SILENT_FAILURE_ISSUE.md
Due: none

updates to dockerfile and add devcontainer (#122)
  .devcontainer/Dockerfile
  .devcontainer/bootstrap.sh
  .devcontainer/devcontainer.json
  .devcontainer/mycert.crt
  Dockerfile
  Dockerfile.optimized
  assets/zscaler.crt
Due: dockerfile-validation, container-security-check

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

minor fix to devcontainer and dockerfiles
  .devcontainer/bootstrap.sh
  .devcontainer/devcontainer.json
  Dockerfile
Due: dockerfile-validation, container-security-check

feat: Add comprehensive merge conflict automation
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/branch-sync.yml
  .github/workflows/container-management.yml
  .github/workflows/merge-conflict-detector.yml
  .github/workflows/merge-conflict-resolver.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/release-automation.yml
Due: build-script-validation, container-security-check

feat: Complete GitHub workflow automation system with build issue resolution
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .github/WORKFLOW_SUMMARY.md
Due: none

🤖 feat: Add comprehensive GitHub Coordinator automation system
  .github/CODEOWNERS
  .github/branch-protection.json
  .github/workflows/build-monitor.yml
  .github/workflows/conflict-resolver.yml
  .github/workflows/gh-coordinator.yml
  .github/workflows/quality-gates.yml
  .github/workflows/setup-branch-protection.yml
  GITHUB_COORDINATOR_DOCUMENTATION.md
Due: build-script-validation

🤖 feat: Add comprehensive GitHub Coordinator automation system (#125)
  .github/CODEOWNERS
  .github/branch-protection.json
  .github/workflows/build-monitor.yml
  .github/workflows/conflict-resolver.yml
  .github/workflows/gh-coordinator.yml
  .github/workflows/quality-gates.yml
  .github/workflows/setup-branch-protection.yml
  GITHUB_COORDINATOR_DOCUMENTATION.md
Due: build-script-validation

📚 docs: Update GitHub Coordinator documentation with manual triggers
  .github/workflows/manual-coordinator-trigger.yml
  DEPLOYMENT_SUCCESS_SUMMARY.md
  README.md
Due: build-script-validation

🚀 feat: Comprehensive container build optimization and CI/CD enhancement
  .dockerignore
  .github/scripts/security-checksum-helper.sh
  .github/workflows/automated-testing-validation.yml
  .github/workflows/container-build-comprehensive.yml
  .github/workflows/deployment-automation.yml
  CONTAINER_BUILD_ANALYSIS_REPORT.md
  Dockerfile
  Dockerfile.optimized
  GITHUB_WORKFLOW_ANALYSIS.md
  SECURITY_IMPROVEMENTS.md
  build-validation.json
  ci-cd-validation-report.md
  dashboard/backend/Dockerfile
  docker-compose.yml
  docs-site/docs/container-versioning-diagram.md
  docs-site/docs/container-versioning-implementation.md
  docs-site/docs/container-versioning-quickref.md
  docs-site/docs/container-versioning-strategy.md
  docs-site/docs/dependency-analysis-report.md
  docs-site/docs/phase-2.5-dependency-automation.md
  docs-site/docs/phase-2.5-implementation-summary.md
  docs-site/docs/wasmtime-v35-update-checklist.md
  monitor-build.sh
  scripts/validate-containers.sh
Due: dockerfile-validation, build-script-validation, container-security-check
