Repository tbowman01/PhotonDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dockerfile-validation, build-script-validation, container-security-check

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-test:
  name: Cargo Test
  entry: cargo test
  language: system
  pass_filenames: false

dockerfile-validation:
  name: Dockerfile Validation
  entry: scripts/validate-dockerfile.sh
  language: script

build-script-validation:
  name: Build Script Validation
  entry: scripts/validate-build-scripts.sh
  language: script

container-security-check:
  name: Container Security Check
  entry: scripts/security-check.sh
  language: script
  stages:
  - pre-push

🚀 Container Build Optimization & CI/CD Enhancement Suite (#126)
  .dockerignore
  .github/scripts/security-checksum-helper.sh
  .github/workflows/automated-testing-validation.yml
  .github/workflows/container-build-comprehensive.yml
  .github/workflows/deployment-automation.yml
  .github/workflows/manual-coordinator-trigger.yml
  CONTAINER_BUILD_ANALYSIS_REPORT.md
  DEPLOYMENT_SUCCESS_SUMMARY.md
  Dockerfile
  Dockerfile.optimized
  GITHUB_WORKFLOW_ANALYSIS.md
  README.md
  SECURITY_IMPROVEMENTS.md
  build-validation.json
  ci-cd-validation-report.md
  dashboard/backend/Dockerfile
  docker-compose.yml
  docs-site/docs/container-versioning-diagram.md
  docs-site/docs/container-versioning-implementation.md
  docs-site/docs/container-versioning-quickref.md
  docs-site/docs/container-versioning-strategy.md
  docs-site/docs/dependency-analysis-report.md
  docs-site/docs/phase-2.5-dependency-automation.md
  docs-site/docs/phase-2.5-implementation-summary.md
  docs-site/docs/wasmtime-v35-update-checklist.md
  monitor-build.sh
  scripts/validate-containers.sh
Due: dockerfile-validation, build-script-validation, container-security-check

feat: Update Rust version from 1.75.0 to 1.76.0
  .github/workflows/automated-testing-validation.yml
  .github/workflows/ci.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/release-automation.yml
  .github/workflows/rust-compilation-fix.yml
  Dockerfile
  Dockerfile.optimized
Due: dockerfile-validation, build-script-validation, container-security-check

feat: Enhance container workflows with manual triggers and fixes
  .github/workflows/container-build-comprehensive.yml
  .github/workflows/container-management.yml
Due: build-script-validation, container-security-check

🐝 feat: Add Hive Mind collective intelligence system with MCP coordination
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .claude/settings.local.json
  .github/workflows/.claude-flow/metrics/agent-metrics.json
  .github/workflows/.claude-flow/metrics/performance.json
  .github/workflows/.claude-flow/metrics/task-metrics.json
  .github/workflows/container-build.yml
  Cargo.toml
  build-validation.json
  ci-cd-validation-report.md
  docs-site/.claude-flow/metrics/agent-metrics.json
  docs-site/.claude-flow/metrics/performance.json
  docs-site/.claude-flow/metrics/task-metrics.json
  src/plugins/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test, build-script-validation, container-security-check

🚀 perf: Comprehensive compilation performance optimizations
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  COMPILATION_PERFORMANCE_OPTIMIZATIONS.md
  Cargo.toml
  docs-site/package.json
  extensions/vscode/tsconfig.json
  scripts/fast-dev-build.sh
Due: build-script-validation

🔧 chore: Update performance metrics during PR enhancement
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
Due: none

update ignore
  .gitignore
Due: none

📊 Update performance metrics after merge resolution
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
Due: none

🔧 fix: Resolve YAML syntax errors in CI workflows
  .claude-flow/metrics/system-metrics.json
  .github/workflows/quality-gates.yml
  .github/workflows/security-audit.yml
Due: build-script-validation

Fix critical compilation and formatting issues
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  src/drift/scanner.rs
  src/lsp/diagnostics.rs
  src/lsp/server.rs
  src/ml/detector.rs
  src/ml/features.rs
  src/ml/models/core.rs
  src/ml/models/ensemble.rs
  src/ml/models/factory.rs
  src/ml/models/isolation_forest.rs
  src/ml/models/mod.rs
  src/ml/models/statistical.rs
  src/ml/models/svm.rs
  src/plugins/traits.rs
  tests/dependency_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

🔧 fix: Resolve critical compilation and import conflicts
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  src/lsp/completion.rs
  src/lsp/diagnostics.rs
  src/lsp/handlers.rs
  src/lsp/hover.rs
  src/lsp/mod.rs
  src/lsp/protocol.rs
  src/lsp/server.rs
  src/plugins/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

🚀 feat: Implement comprehensive CI/CD pipeline optimizations
  .github/workflows/cache-optimization.yml
  .github/workflows/optimized-ci.yml
  CI_CD_OPTIMIZATION_GUIDE.md
Due: build-script-validation

🔧 fix: Apply cargo fmt formatting and finalize CI/CD optimizations
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/cache-config/rust-cargo-cache.yml
  .github/pipeline-config.yml
  .github/pipeline-optimization.md
  .github/workflows/cache-fallback-warming.yml
  .github/workflows/cache-performance-monitor.yml
  .github/workflows/cache-strategies.yml
  .github/workflows/intelligent-load-balancer.yml
  .github/workflows/optimized-ci-cache.yml
  .github/workflows/optimized-pipeline-architecture.yml
  .github/workflows/parallel-optimization.yml
  .github/workflows/parallel-test-execution.yml
  CACHE_OPTIMIZATION_SUMMARY.md
  PARALLEL_EXECUTION_OPTIMIZATION.md
  PIPELINE_ARCHITECTURE_SUMMARY.md
  scripts/pipeline-integration.sh
  src/plugins/mod.rs
  src/plugins/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test, build-script-validation

🚀 CI/CD Pipeline Performance Optimizations: 40-60% Faster Builds (#128)
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/cache-config/rust-cargo-cache.yml
  .github/pipeline-config.yml
  .github/pipeline-optimization.md
  .github/workflows/cache-fallback-warming.yml
  .github/workflows/cache-optimization.yml
  .github/workflows/cache-performance-monitor.yml
  .github/workflows/cache-strategies.yml
  .github/workflows/intelligent-load-balancer.yml
  .github/workflows/optimized-ci-cache.yml
  .github/workflows/optimized-ci.yml
  .github/workflows/optimized-pipeline-architecture.yml
  .github/workflows/parallel-optimization.yml
  .github/workflows/parallel-test-execution.yml
  CACHE_OPTIMIZATION_SUMMARY.md
  CI_CD_OPTIMIZATION_GUIDE.md
  PARALLEL_EXECUTION_OPTIMIZATION.md
  PIPELINE_ARCHITECTURE_SUMMARY.md
  scripts/pipeline-integration.sh
  src/plugins/mod.rs
  src/plugins/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test, build-script-validation

let's do this
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .gitignore
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  dockerfile-validation: any of: ^Dockerfile.*$
  build-script-validation: any of: ^(scripts/.*\.sh|\.github/workflows/.*\.yml)$
  container-security-check: any of: ^(Dockerfile.*|\.github/workflows/container.*\.yml)$
