Repository tbowman01/PhotonDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, dockerfile-validation, build-script-validation, container-security-check

.pre-commit-config.yaml:

# Pre-commit hooks for PhotonDrift
# Ensures code quality, security, and build validation before commits

repos:
  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        
      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: [--all-targets, --all-features, --, -D, warnings]
        
      - id: cargo-test
        name: Cargo Test
        entry: cargo test
        language: system
        types: [rust]
        pass_filenames: false
        
      - id: dockerfile-validation
        name: Dockerfile Validation
        entry: scripts/validate-dockerfile.sh
        language: script
        files: ^Dockerfile.*$
        
      - id: build-script-validation
        name: Build Script Validation
        entry: scripts/validate-build-scripts.sh
        language: script
        files: ^(scripts/.*\.sh|\.github/workflows/.*\.yml)$
        
      - id: container-security-check
        name: Container Security Check
        entry: scripts/security-check.sh
        language: script
        files: ^(Dockerfile.*|\.github/workflows/container.*\.yml)$
        stages: [pre-push]

  # General code quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^docs/.*\.md$
      - id: end-of-file-fixer
        exclude: ^docs/.*\.md$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: mixed-line-ending
        args: [--fix=lf]

  # GitHub Actions validation
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint
        name: GitHub Actions Lint

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        name: Hadolint Dockerfile Linter
        args: [--ignore, DL3008, --ignore, DL3009]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect Secrets
        args: [--baseline, .secrets.baseline]
        exclude: ^(\.secrets\.baseline|poetry\.lock|Cargo\.lock)$

  # Documentation validation
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        name: Markdown Format
        additional_dependencies:
          - mdformat-gfm
          - mdformat-black
        args: [--wrap, "80"]
        exclude: ^docs/BUILD_SIMPLIFICATION_SUMMARY\.md$

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]
fail_fast: false

feat: Enterprise Automation Suite - Merge Main to Develop (#71)
  .github/actions/docker-build/action.yml
  .github/workflows/auto-release.yml
  .github/workflows/build-configs.yml
  .github/workflows/container-build.yml
  .github/workflows/matrix-build.yml
  .pre-commit-config.yaml
  Cargo.toml
  Dockerfile
  Dockerfile.optimized
  Makefile
  README.md
  docs/AUTOMATION_COMPREHENSIVE_GUIDE.md
  docs/BUILD_SIMPLIFICATION_SUMMARY.md
  docs/DOCKER_BUILD_GUIDE.md
  helm/photondrift/Chart.yaml
  helm/photondrift/templates/_helpers.tpl
  helm/photondrift/templates/cronjob.yaml
  helm/photondrift/templates/pvc.yaml
  helm/photondrift/templates/serviceaccount.yaml
  helm/photondrift/values.yaml
  k8s/deployment.yaml
  scripts/build-automation.sh
  scripts/container-health-monitor.sh
  scripts/debug-toolkit.sh
  scripts/performance-benchmark.sh
  scripts/security-check.sh
  scripts/validate-build-scripts.sh
  scripts/validate-dockerfile.sh
Due: dockerfile-validation, build-script-validation, container-security-check

feat: Complete VS Code extension marketplace preparation
  .github/workflows/vscode-extension.yml
  GITHUB_MANAGEMENT_REPORT.md
  security-check-report.md
  vscode-extension/CHANGELOG.md
  vscode-extension/package.json
  vscode-extension/resources/icon.png
Due: build-script-validation

feat: Add comprehensive Phase 3 strategic development plan
  docs/ARCHITECTURE_ENHANCEMENTS.md
  docs/PHASE_3_ROADMAP.md
  docs/PHASE_3_STRATEGIC_PLAN.md
Due: none

feat: Initialize Phase 3 development foundation structure
  Cargo.toml
  docs/lsp-integration.md
  examples/realtime_usage.rs
  src/bin/lsp.rs
  src/commands/mod.rs
  src/commands/plugin.rs
  src/config.rs
  src/error.rs
  src/lib.rs
  src/lsp/completion.rs
  src/lsp/diagnostics.rs
  src/lsp/handlers.rs
  src/lsp/hover.rs
  src/lsp/mod.rs
  src/lsp/protocol.rs
  src/lsp/server.rs
  src/plugins/ide/intellij.rs
  src/plugins/ide/mod.rs
  src/plugins/ide/universal.rs
  src/plugins/ide/vscode.rs
  src/plugins/manager.rs
  src/plugins/marketplace.rs
  src/plugins/mod.rs
  src/plugins/security.rs
  src/plugins/traits.rs
  src/realtime/cache.rs
  src/realtime/events.rs
  src/realtime/mod.rs
  src/realtime/pipeline.rs
  src/realtime/watcher.rs
  src/realtime/websocket.rs
  tests/lsp/integration.rs
  tests/lsp/mock_client.rs
  tests/lsp/mod.rs
  tests/lsp/performance.rs
  tests/lsp/protocol_compliance.rs
  tests/realtime_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Complete comprehensive LSP server implementation
  Cargo.toml
  src/bin/lsp.rs
  src/lsp/completion.rs
  src/lsp/diagnostics.rs
  src/lsp/handlers.rs
  src/lsp/hover.rs
  src/lsp/mod.rs
  src/lsp/protocol.rs
  src/lsp/server.rs
  tests/lsp_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: Complete Phase 3 documentation updates with LSP integration
  CHANGELOG.md
  README.md
  ROADMAP.md
  docs/CONFIGURATION.md
  docs/QUICK_START.md
  docs/USER_GUIDE.md
Due: none

feat: Complete VS Code extension for PhotonDrift ADR Manager
  extensions/vscode/.vscodeignore
  extensions/vscode/README.md
  extensions/vscode/language-configuration.json
  extensions/vscode/package.json
  extensions/vscode/snippets/adr.json
  extensions/vscode/src/adrExplorer.ts
  extensions/vscode/src/commands.ts
  extensions/vscode/src/configuration.ts
  extensions/vscode/src/driftDetection.ts
  extensions/vscode/src/extension.ts
  extensions/vscode/src/statusBar.ts
  extensions/vscode/syntaxes/adr.tmLanguage.json
  extensions/vscode/themes/adr-dark-theme.json
  extensions/vscode/themes/adr-light-theme.json
  extensions/vscode/tsconfig.json
Due: none

feat: Add comprehensive plugin examples and usage demonstrations
  examples/plugins/README.md
  examples/plugins/performance_analyzer.rs
  examples/plugins/plugin_config.yml
  examples/plugins/plugin_usage.rs
  examples/plugins/security_analyzer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Complete VS Code marketplace publication preparation
  extensions/vscode/CHANGELOG.md
  extensions/vscode/LICENSE
  extensions/vscode/README.md
  extensions/vscode/icon-creation.md
  extensions/vscode/out/adrExplorer.js
  extensions/vscode/out/adrExplorer.js.map
  extensions/vscode/out/commands.js
  extensions/vscode/out/commands.js.map
  extensions/vscode/out/configuration.js
  extensions/vscode/out/configuration.js.map
  extensions/vscode/out/driftDetection.js
  extensions/vscode/out/driftDetection.js.map
  extensions/vscode/out/extension.js
  extensions/vscode/out/extension.js.map
  extensions/vscode/out/statusBar.js
  extensions/vscode/out/statusBar.js.map
  extensions/vscode/package-lock.json
  extensions/vscode/package.json
  extensions/vscode/photondrift-adr-1.0.0.vsix
Due: none

docs: Add comprehensive VS Code marketplace publication summary
  .github/workflows/vscode-extension.yml
  VSCODE_MARKETPLACE_SUMMARY.md
Due: build-script-validation

feat: Update CI/CD to support Node.js 20, 22, and 24
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package.json
  extensions/vscode/photondrift-adr-1.0.1.vsix
Due: none

🔧 Node.js Modernization: Support for 20.x, 22.x, 24.x (#75)
  extensions/vscode/CHANGELOG.md
  extensions/vscode/package.json
  extensions/vscode/photondrift-adr-1.0.1.vsix
Due: none

Add files via upload
  photon_drift_resized_compressed_under_1MB.png
Due: none

Rename photon_drift_resized_compressed_under_1MB.png to assets/lphotondrift_logo.png
  assets/lphotondrift_logo.png
Due: none

fix: resolve Cargo.toml duplicates and generate Cargo.lock
  Cargo.toml
  src/commands/plugin.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update README.md
  README.md
Due: none

Rename lphotondrift_logo.png to photondrift_logo.png
  assets/photondrift_logo.png
Due: none

fix: Update Cargo.toml with deduplicated dependencies and fix plugin imports
  Cargo.toml
  deny.toml
  src/commands/plugin.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update quickstart
  quickstart-dev.md
Due: none

update gitignore
  .gitignore
Due: none

Create advanced_adr_template.md
  templates/advanced_adr_template.md
Due: none

Create one-rule-two-rule-them-all.md
  .roo/one-rule-two-rule-them-all.md
Due: none

Update Dockerfile.optimized
  Dockerfile.optimized
Due: dockerfile-validation, container-security-check

feat: enhance Docker build with comprehensive versioning and binary verification
  .github/workflow-improvements.md
  .github/workflows/container-build.yml
  Dockerfile
  Dockerfile.optimized
  Makefile
  docs/container-versioning-diagram.md
  docs/container-versioning-implementation.md
  docs/container-versioning-quickref.md
  docs/container-versioning-strategy.md
  scripts/build-automation.sh
  scripts/test-versioning.sh
Due: dockerfile-validation, build-script-validation, container-security-check

fix: resolve container build bottlenecks and failing checks
  .github/workflows/container-build.yml
Due: build-script-validation, container-security-check

fix: enhance adrscan binary verification with robust error handling
  .github/workflows/container-build.yml
Due: build-script-validation, container-security-check

feat: enhance Docker build with comprehensive versioning and binary verification (#94)
  .github/workflow-improvements.md
  .github/workflows/container-build.yml
  Dockerfile
  Dockerfile.optimized
  Makefile
  docs/container-versioning-diagram.md
  docs/container-versioning-implementation.md
  docs/container-versioning-quickref.md
  docs/container-versioning-strategy.md
  scripts/build-automation.sh
  scripts/test-versioning.sh
Due: dockerfile-validation, build-script-validation, container-security-check

fix: apply cargo fmt formatting fixes
  examples/realtime_usage.rs
  src/bin/lsp.rs
  src/commands/plugin.rs
  src/config.rs
  src/lsp/completion.rs
  src/lsp/diagnostics.rs
  src/lsp/handlers.rs
  src/lsp/hover.rs
  src/lsp/mod.rs
  src/lsp/protocol.rs
  src/lsp/server.rs
  src/ml/features.rs
  src/plugins/ide/intellij.rs
  src/plugins/ide/mod.rs
  src/plugins/ide/universal.rs
  src/plugins/ide/vscode.rs
  src/plugins/manager.rs
  src/plugins/marketplace.rs
  src/plugins/mod.rs
  src/plugins/security.rs
  src/plugins/traits.rs
  src/realtime/cache.rs
  src/realtime/events.rs
  src/realtime/mod.rs
  src/realtime/pipeline.rs
  src/realtime/watcher.rs
  src/realtime/websocket.rs
  tests/lsp_integration_tests.rs
  tests/realtime_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add comprehensive Docker enhancement testing suite
  scripts/test-docker-enhancements.sh
Due: build-script-validation

fix: resolve container build and CI test failures
  Dockerfile
  src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-test, dockerfile-validation, container-security-check

feat: comprehensive Docker testing suite and build enhancements (#95)
  Dockerfile
  examples/realtime_usage.rs
  scripts/test-docker-enhancements.sh
  src/bin/lsp.rs
  src/commands/plugin.rs
  src/config.rs
  src/error.rs
  src/lsp/completion.rs
  src/lsp/diagnostics.rs
  src/lsp/handlers.rs
  src/lsp/hover.rs
  src/lsp/mod.rs
  src/lsp/protocol.rs
  src/lsp/server.rs
  src/ml/features.rs
  src/plugins/ide/intellij.rs
  src/plugins/ide/mod.rs
  src/plugins/ide/universal.rs
  src/plugins/ide/vscode.rs
  src/plugins/manager.rs
  src/plugins/marketplace.rs
  src/plugins/mod.rs
  src/plugins/security.rs
  src/plugins/traits.rs
  src/realtime/cache.rs
  src/realtime/events.rs
  src/realtime/mod.rs
  src/realtime/pipeline.rs
  src/realtime/watcher.rs
  src/realtime/websocket.rs
  tests/lsp_integration_tests.rs
  tests/realtime_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, dockerfile-validation, build-script-validation, container-security-check

feat: Complete Phase 2.5 WASM restoration and dependency upgrades
  .cargo/config.toml.backup
  .claude/settings.local.json
  .github/workflows/dependency-validation.yml
  .gitignore
  Cargo.toml
  docs/DEPENDENCY_ANALYSIS_REPORT.md
  docs/PHASE_2.5_DEPENDENCY_AUTOMATION.md
  docs/PHASE_2.5_IMPLEMENTATION_SUMMARY.md
  docs/WASMTIME_V35_UPDATE_CHECKLIST.md
  examples/ci-cd-integration.js
  memory-export-1753739014595.json
  memory/memory-store.json
  quickstart-dev.md
  scripts/build-wasm-optimized.sh
  scripts/dependency-validation.sh
  src/drift/scanner.rs
  src/parser.rs
  src/wasm_simple.rs
  tests/dependency_validation.rs
  wasm/README.md
  wasm/benchmark.js
  wasm/package.json
Due: cargo-fmt, cargo-clippy, cargo-test, build-script-validation

feat: Complete Phase 2.5 WASM restoration and dependency upgrades (#98)
  .cargo/config.toml.backup
  .claude/settings.local.json
  .github/workflows/dependency-validation.yml
  .gitignore
  Cargo.toml
  docs/DEPENDENCY_ANALYSIS_REPORT.md
  docs/PHASE_2.5_DEPENDENCY_AUTOMATION.md
  docs/PHASE_2.5_IMPLEMENTATION_SUMMARY.md
  docs/WASMTIME_V35_UPDATE_CHECKLIST.md
  examples/ci-cd-integration.js
  memory-export-1753739014595.json
  memory/memory-store.json
  quickstart-dev.md
  scripts/build-wasm-optimized.sh
  scripts/dependency-validation.sh
  src/drift/scanner.rs
  src/parser.rs
  src/wasm_simple.rs
  tests/dependency_validation.rs
  wasm/README.md
  wasm/benchmark.js
  wasm/package.json
Due: cargo-fmt, cargo-clippy, cargo-test, build-script-validation

feat: Multi-Agent Journey Reconstruction System & Complete Project Roadmap
  docs/journey.md
Due: none
